<!-- <header style="background-color: aqua;">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/users">User</a>
        </li>
        <li>
            <a href="/transaction">Daftar Transactions</a>
        </li>
        
        <li>
            <a href="/products">Product</a>
        </li>
        <li>
            <a href="/formTransaction">Langganan</a>
        </li>
    </ul>
</header> -->

<div class="container-fluid">
    <header class="d-flex justify-content-center py-3 sty" style="background-color: antiquewhite;">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/users" class="nav-link">User</a></li>
        <li class="nav-item"><a href="/transaction" class="nav-link">Chart</a></li>
        <li class="nav-item"><a href="/products" class="nav-link">Products</a></li>
        <!-- <li class="nav-item"><a href="/formTransaction" class="nav-link">Buy</a></li> -->
      </ul>
    </header>
  </div>