
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
        <%- include('header') %>
        <div class="container">
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal">Our Coffee Subscription</h1>
                <p class="fs-5 text-muted">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
              </div>
            
                <% if(product.length === 0) { %>
                    <p>data produk kosong</p>
                <%} else { %>

                    <div class="d-flex justify-content-center gap-4">
                        <% product.forEach((item) => { %>
                            <div class="card text-center mb-3" style="width: 30rem;">
                                <img src="https://specialtycoffee.id/wp-content/uploads/elementor/thumbs/Packaging-Coffee-Beans-1920-x-1080px-q4a7halhmxwmqnql3dqizc3tu4op25cytqljt2nhts.jpg" class="card-img-top" alt="">
                                <div class="body">
                                    <h5 class="card-title"><%= item.name %></h5>
                                    <h6 class="card-subtitle mb-2 text-body-secondary">Rp. <%= item.price %></h6>
                                    <a class="btn btn-primary btn-sm" href="/formTransaction">Subscribe</a>
                                </div>
                            </div>
                       <% }) %>
                    </div>
                <%}%>
        </div>
        
            
        


        <%- include('footer') %>
</body>
</html>
