<html>
    <head>
        <title>Halaman User</title>
    </head>
    <body>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. A delectus quam alias voluptate officia? Delectus quas ab nesciunt, impedit voluptates reprehenderit cupiditate alias odio similique! Corrupti esse quaerat facere magni.

    </body>
</html>